.nav-item {
  padding-right: 30px !important;
}

.backgroundDiv {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  background-size: cover;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  z-index: -999;
}

#backgroundIMG {
  background-image: url('https://banyakozpont.mestermc.hu/images/login_hatterkep.jpg');
}

#navback {
  color: #999;
  text-align: center;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  animation: bg-scrolling-reverse 0.92s infinite;
  animation-timing-function: linear;
}

#fixm a {
}

.rankcolor {
  color: #d3d3d3;
}

.bg-black {
  opacity: 0.8;
}

.card {
  border: none !important;
}

.loadAnim {
  transition: ease-in-out;
  animation: bounce-in-right 2s ease normal;
}

@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.container {
  animation: fadein 2s ease normal;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(400px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}